In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('vehicles_us.csv')

In [3]:
df.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28

In [4]:
#separate the make and model strings into new columns
df[['make','model']] = df['model'].str.split(" ", n=1, expand=True)

In [5]:
df.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,make
0,9400,2011.0,x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19,bmw
1,25500,NaN,f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50,ford
2,5500,2013.0,sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79,hyundai
3,1500,2003.0,f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9,ford
4,14900,2017.0,200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28,chrysler

In [6]:
df = df.drop(df.columns[11], axis=1)

In [7]:
df.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,days_listed,make
0,9400,2011.0,x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,19,bmw
1,25500,NaN,f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,50,ford
2,5500,2013.0,sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,79,hyundai
3,1500,2003.0,f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,9,ford
4,14900,2017.0,200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,28,chrysler

In [8]:
make_options = df['make'].unique()

In [9]:
df['model_year'].min()

1908.0

Let's take a look at how many rows actually have data on vehicles older than 1950

In [10]:
older_than_1950 = (df['model_year'] < 1950).value_counts()
older_than_1950

model_year
False    51519
True         6
Name: count, dtype: int64

With only six rows containing cars older than 1950, it would be safe to narrow the range and drop those values

In [11]:
df['model_year'].max()

2019.0

In [12]:
min_year, max_year = int(df['model_year'].min()), int(df['model_year'].max())

In [19]:
df['age'] = 2019 - df['model_year']
df.sample(5)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,days_listed,make,age,age_category
25130,4995,2008.0,charger,good,6.0,gas,161353.0,automatic,sedan,silver,NaN,51,dodge,11.0,10-20
3030,5999,2010.0,forester,like new,4.0,gas,124400.0,automatic,sedan,silver,1.0,25,subaru,9.0,10-20
15682,15995,2014.0,1500,like new,8.0,gas,91000.0,automatic,truck,red,NaN,66,ram,5.0,10-20
20401,7995,2009.0,rav4,good,6.0,gas,190750.0,automatic,SUV,white,NaN,55,toyota,10.0,10-20
23171,12600,2011.0,sienna,good,6.0,gas,131866.0,automatic,mini-van,white,NaN,41,toyota,8.0,10-20

In [20]:
def age_category(x):
    if x<5: return '<5'
    elif x>=5 and x<10: return '5-10'
    elif x>=10 and x<20: return '10-20'
    else: return '>20'

In [21]:
df['age_category'] = df['age'].apply(age_category)

In [22]:
df.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,days_listed,make,age,age_category
0,9400,2011.0,x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,19,bmw,8.0,5-10
1,25500,NaN,f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,50,ford,NaN,>20
2,5500,2013.0,sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,79,hyundai,6.0,5-10
3,1500,2003.0,f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,9,ford,16.0,10-20
4,14900,2017.0,200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,28,chrysler,2.0,<5